$light_grey: rgb(137, 143, 143);
$yellow: rgb(255, 204, 0);
$dark_grey: rgb(102, 102, 102);
$black: rgb(51, 51, 51);
$white: rgb(255, 255, 255);
$icon: rgb(204, 204, 204);
$icon_hover: rgb(32, 154, 253);
$icon_active: rgb(20, 97, 160);